# Supabase
SUPABASE_URL=https://jtriacykptlrhtpucvbu.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0cmlhY3lrcHRscmh0cHVjdmJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NjgxNjgsImV4cCI6MjA4OTI0NDE2OH0.VK3ZpzfkxAB3XqK_sZL17CIcbU3I67WOrQO-R-hzxIA

# OpenAI
OPENAI_API_KEY=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

# Optionnel : URL de base pour OpenAI (si vous utilisez un proxy)
OPENAI_BASE_URL=https://api.openai.com/v1
